@import "tailwindcss";

@plugin 'tailwindcss-animate';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);

  /* Spacing */
  --spacing: 4px;

  /* Colors */
  --color-dark: var(--dark);
  --color-gray-dark: var(--gray-dark);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-light: var(--light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-destructive: var(--destructive);
  --color-muted: var(--muted);

  /* Texts */
  --text-hero: 96px;
  --text-hero--font-weight: 700;
  --text-hero--letter-spacing: -0.25rem;
  --text-hero--line-height: 120%;
  --text-4xl: 64px;
  --text-4xl--font-weight: 700;
  --text-4xl--letter-spacing: -0.2rem;
  --text-4xl--line-height: 150%;
  --text-3xl: 48px;
  --text-3xl--font-weight: 700;
  --text-3xl--letter-spacing: -0.1rem;
  --text-3xl--line-height: 150%;
  --text-2xl: 32px;
  --text-2xl--font-weight: 700;
  --text-2xl--letter-spacing: -0.05rem;
  --text-2xl--line-height: 150%;
  --text-xl: 24px;
  --text-xl--font-weight: 700;
  --text-xl--letter-spacing: -0.05rem;
  --text-xl--line-height: 150%;

  /* Paragraphs */
  --text-body-large: 24px;
  --text-body-large--line-height: 135%;

  --text-body-large-bold: 24px;
  --text-body-large-bold--line-height: 135%;
  --text-body-large-bold--font-weight: 700;

  --text-body-medium: 20px;
  --text-body-medium--line-height: 135%;

  --text-body-medium-bold: 20px;
  --text-body-medium-bold--line-height: 135%;
  --text-body-medium-bold--font-weight: 700;

  --text-base: 16px;
  --text-base--line-height: 150%;

  --text-xs: 12px;
  --text-xs--line-height: 140%;

  --text-xs-bold: 12px;
  --text-xs-bold--line-height: 140%;
  --text-xs-bold--font-weight: 700;

  --text-gray-small-text: 12px;
  --text-gray-small-text--line-height: 117%;
  --text-gray-small-text--letter-spacing: -0.025rem;

  /* Radius */
  --radius-lg: var(--radius);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-sm: 0px 10px 4px hsl(0 0 0 / calc(0.01 * var(--shadow-intensity))),
    0px 6px 3px hsl(0 0 0 / calc(0.02 * var(--shadow-intensity))),
    0px 3px 3px hsl(0 0 0 / calc(0.04 * var(--shadow-intensity))),
    0px 1px 1px hsl(0 0 0 / calc(0.05 * var(--shadow-intensity)));
  --shadow-md: 0px 27px 11px -3px
      hsl(0 0 0 / calc(0.01 * var(--shadow-intensity))),
    0px 15px 9px -2px hsl(0 0 0 / calc(0.03 * var(--shadow-intensity))),
    0px 7px 7px -2px hsl(0 0 0 / calc(0.06 * var(--shadow-intensity))),
    0px 2px 4px -1px hsl(0 0 0 / calc(0.07 * var(--shadow-intensity)));
  --shadow-lg: 0px 58px 23px -2px
      hsl(0 0 0 / calc(0.01 * var(--shadow-intensity))),
    0px 33px 20px -2px hsl(0 0 0 / calc(0.04 * var(--shadow-intensity))),
    0px 15px 15px -1px hsl(0 0 0 / calc(0.05 * var(--shadow-intensity))),
    0px 4px 8px -1px hsl(0 0 0 / calc(0.06 * var(--shadow-intensity)));
  --shadow-xl: 0px 165px 66px hsl(0 0 0 / calc(0.01 * var(--shadow-intensity))),
    0px 93px 56px hsl(0 0 0 / calc(0.03 * var(--shadow-intensity))),
    0px 41px 41px hsl(0 0 0 / calc(0.05 * var(--shadow-intensity))),
    0px 10px 23px hsl(0 0 0 / calc(0.05 * var(--shadow-intensity)));

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --dark: #000;
    --gray-dark: #b9b9b9;
    --gray: #d9d9d9;
    --gray-light: #f8f8f8;
    --light: #ffffff;
    --primary: #ffd600;
    --primary-dark: #f5d32b;
    --destructive: #ef4444;
    --muted: #737373;

    --radius: 8px;

    --shadow-intensity: 1;
  }
  .dark {
    --dark: #f1f1f1;
    --gray-dark: #aaaaaa;
    --gray: #444444;
    --gray-light: #212121;
    --light: #121212;
    --primary-dark: #e8c826;
    --destructive: #ef4444;
    --muted: #a8a8a8;

    --shadow-intensity: 2.5;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-gray;
  }
  body {
    @apply bg-light text-dark font-sans text-base;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .link {
    @apply text-dark/80 hover:text-dark flex h-8 items-center justify-center px-2 transition-colors hover:underline;
  }
}

code[data-theme],
code[data-theme] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark {
  code[data-theme],
  code[data-theme] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  @apply mr-4 md:mr-8;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: #a8a8a8;
}

[data-chars-id="add"] {
  background-color: var(--line-add);
  border-radius: 2px;
  padding: 1px 3px;
}

[data-highlighted-line-id="add"] {
  background-color: var(--line-add) !important;
}

[data-highlighted-line-id="remove"] {
  background-color: var(--line-remove) !important;
}

[data-highlighted-line-id="opacity"] {
  opacity: var(--code-opacity);
}

[data-highlighted-line-id="remove"]::after {
  content: "-";
  position: absolute;
  right: 8px;
  color: inherit;
}

[data-highlighted-line-id="add"]::after {
  content: "+";
  position: absolute;
  right: 8px;
  color: inherit;
}
